
body{
    background-color: gray;
    font-style: italic;

}

h2{

    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;



}
dt{
    color: yellow;
}
h1{
    font-size: medium;
}
strong{
color: yellow;
}

a :hover{
    color: red;
    
    text-decoration:underline;
   
    
}

 a:link {
  text-decoration: none;
 
   
    
}