
body{
    background-color: gray;
    font-style: italic;

}

h2{

    font-family: 'Times New Roman', Times, serif;
    font-size: medium;



}
dt{
    color: yellow;
}
h1{
  
    font-size: 50px;
}
strong{
color: yellow;
}

a:visited{
    color: red;
}
a:hover{
    color:  gold;
    text-decoration: underline;
}
a:active{
    color: #0000ff;
}